ACCOUNT_EMAIL_CONFIRMATION_URL=
ALLOWED_HOSTS=
DEBUG=
DEMO_LOGIN_ENABLED=
PASSWORD_RESET_CONFIRM_URL=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_USER=
SECRET_KEY=
SIGNUP_ENABLED=
